.navbarforhome{
    background-image:url(../Assest/intro.jpg);
    width: 100%;
    height: 100vh;
    position: relative; 
    background-size: cover;
    background-position: center;
    object-fit: cover;
    size: 20rem;
   
    
}

.outerbox{
   margin: 2rem;
   font-weight: bolder;
   background-color: rgba(128, 0, 128, 0.564);
   width: 9rem;
   padding: 2rem;
   border-radius: 2rem;
}
.contents{
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.103);
    padding: 5rem;
    border-radius: 1rem;
}
.mask{
    width: 100%;
    height: 100vh;
    position: relative; 
 }
 .into-img{
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     object-fit: cover;
 }
 
 .mask::after{
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-color: black;
     opacity: 0.4;
 }
 
 .hero{
     height: 50%;
     width: 100%;
 }
 
 .hero  .content{
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     text-align: center;
 } 
 
 .hero .content h1{
     font-size: 4rem;
     padding: 0.6rem 0 1.5rem;
 }
 
 .hero .content p{
     font-size: 1.5rem;
     font-weight: 200;
     text-transform: uppercase;
 }
 @media screen and (max-width: 640px){
    .hero .content h1{
        font-size: 3rem;
    }

    .hero .content p{
        font-size: 1.4rem;
    }
}
.headingforhome{
    color: white;
}
.subheadingforhome{
    color: white;
}
